@import 'header.css';
@import 'base.css';

footer {
    position: relative;
}

/* HELPERS */

.container {
    width: 80%;
    margin: auto;
    margin-top: 0;
}

/* main */

main {
    /* border: 1px solid grey; */
    border-top: 0;
    height: 100%;
    margin: auto;
    margin-top: 0;
}

/* GALLERY */

.gallery {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.gallery>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .4s;
}

.gallery>img:hover {
    opacity: .7;
    cursor: pointer;
}

/* UPLOAD IMG */

.box {
    display: flex;
    justify-content: center;
}

.box>img {
    min-width: 200px;
    max-width: 25%;
    height: 200px;
    object-fit: cover;
    transition: .4s;
    position: absolute;
    justify-content: center;
}

.box>input {
    min-width: 200px;
    max-width: 1fr;
    height: 200px;
    object-fit: cover;
    transition: .4s;
    opacity: 0;
}

.box>input:hover {
    cursor: pointer;
}

.memeEditor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.editBtns {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    padding-left: 15px;
}

.save {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 10px;
}

.back {
    margin-bottom: 10px;
    border: none;
    background: none;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

a {
    color: #000000;
}

/* unvisited link */
a:visited {
    color: #000000;
}

/* visited link */
a:hover {
    color: #000000;
}

/* mouse over link */
a:active {
    color: #000000;
}

.sectionInput {
    display: flex;
}

.canvasHolder {
    width: 60%;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    background-color: rgb(175, 196, 84);
    height: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 2px;
    cursor: pointer;
}

.addRemoveLines {
    display: flex;
    padding: 1%;
    justify-content: space-between;

}

.addRemoveLines>* {
    /* flex-grow: 1; */
    font-size: 15px;
    /* line-height: 30px; */
    margin-bottom: 5px;
}

.memeEditor h3 {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 4%;

}

.colorPicker {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.editctrl {
    cursor: pointer;
}

.fontFamily {
    width: 100%;
}

.selectFamily {
    width: 100%;
    height: 1rem;
    height: 2rem;
    font-size: 1rem;
    font-family: "Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif";
    margin-bottom: 2%;
}

.colorPicker {
    border: 0;
    height: 20px;
    width: 20px;
}

.text-styling-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.lolo {
    display: flex;
}

.lolo>* {
    display: flex;
    flex-grow: 1;
    font-size: 15px;
    margin-bottom: 4%;
    flex-direction: row;
    justify-content: space-between;
}

.kiki {
    display: flex;
    justify-content: space-between;
}

.directions {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 1%;
}

.actions-btns {
    display: flex;
    flex-direction: column;
}

.actions-btns:first-child {
    margin: 0 auto;
}

.actions-btns button {
    border: none;
    border-radius: 15px;
    background: seagreen;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

.btn-color {
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2%;
    height: 2rem;
    background-color: #bdbcbc;
    display: flex;
    flex-wrap: nowrap;
}

.editFont {
    display: flex;
    flex-direction: column;
}

.actions-btns>section {
    margin: 5px;
}

section>.fas {
    font-size: 25px;
    cursor: pointer;
}

.fofo {
    display: flex;
    width: 100%;
    height: 10%;
}

.fofo>* {
    margin: auto;
    font-size: 15px;
}

.inputText {
    height: 25px;
    width: 95%;
    font-size: 15px;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

.shadow {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.backMobile {
    display: none;
}

@media (max-width: 830px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .memeEditor {
        flex-direction: column;
    }

    #memeCanvas {
        max-width: 100%;
        max-height: 100%;
    }

    .backMobile {
        display: block;
    }


}